<table>
  <tr>
    <th class="center large"><%= @team.name %> - <%= @team.season.year %></th>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Game Type</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.week %></td>
        <td><%= link_to game.away_team.name, game.away_team %></td>
        <td><%= link_to game.home_team.name, game.home_team %></td>
        <td><%= game.game_type %></td>
        <td>
          <% if game.winner == @team %>
            <% if game.home_team == @team %>
              <div><%= 'W,' %> <%= game.home_score %> - <%= game.away_score %></div>
            <% elsif game.away_team == @team %>
              <div><%= 'W,' %> <%= game.away_score %> - <%= game.home_score %></div>
            <% end %>

          <% elsif game.loser == @team %>
            <% if game.home_team == @team %>
              <div class="loss"><%= 'L,' %> <%= game.home_score %> - <%= game.away_score %></div>
            <% elsif game.away_team == @team %>
              <div class="loss"><%= 'L,' %> <%= game.away_score %> - <%= game.home_score %></div>
            <% end %>
          <% else %>
            <div class="tie"><%= 'T,' %> <%= game.home_score %> - <%= game.away_score %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="responstable">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Points For</th>
      <th>Points Against</th>
      <th>Point Differential</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @team.owner.first_name %> <%= @team.owner.last_name %></td>
      <td><%= @stats[:wins] %></td>
      <td><%= @stats[:losses] %></td>
      <td><%= @stats[:ties] %></td>
      <td><%= @stats[:points_for] %></td>
      <td><%= @stats[:points_against] %></td>
      <td><%= @stats[:point_diff] %></td>
    </tr>
  </tbody>
</table>

