<table>
  <tr>
    <th class="large page-name"><%= @team.name %> - <%= @team.season.year %></th>
  </tr>
</table>

<table class="responstable">
  <thead>
    <tr>
      <th>Owner</th>
      <th class="center">Wins</th>
      <th class="center">Losses</th>
      <th class="center">Ties</th>
      <th class="center">Points For</th>
      <th class="center">Points Against</th>
      <th class="center">Point Differential</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to @team.owner.full_name, @team.owner %></td>
      <td class="center"><%= @stats[:wins] %></td>
      <td class="center"><%= @stats[:losses] %></td>
      <td class="center"><%= @stats[:ties] %></td>
      <td class="center"><%= @stats[:points_for] %></td>
      <td class="center"><%= @stats[:points_against] %></td>
      <td class="center"><%= @stats[:point_diff] %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="center">Week</th>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Game Type</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="center"><%= game.week %></td>
        <td><%= link_to game.away_team.name, game.away_team %></td>
        <td><%= link_to game.home_team.name, game.home_team %></td>
        <td><%= game.game_type %></td>
        <td>
          <% if game.completed? == true %>
            <% if game.winner == @team %>
              <% if game.home_team == @team %>
                <div><%= 'W,' %> <%= game.home_score %> - <%= game.away_score %></div>
              <% elsif game.away_team == @team %>
                <div><%= 'W,' %> <%= game.away_score %> - <%= game.home_score %></div>
              <% end %>

            <% elsif game.loser == @team %>
              <% if game.home_team == @team %>
                <div class="loss"><%= 'L,' %> <%= game.home_score %> - <%= game.away_score %></div>
              <% elsif game.away_team == @team %>
                <div class="loss"><%= 'L,' %> <%= game.away_score %> - <%= game.home_score %></div>
              <% end %>
            <% else %>
              <div class="tie"><%= 'T,' %> <%= game.home_score %> - <%= game.away_score %></div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
