<h2>BMFFL <%= @season.year %> Season</h2>

<div class="container">
  <div class="row">
    <div id="standings-table" class="col-lg-10">

      <div id="full-league-standings-table">
        <h3>League Standings</h3>

        <table class="table table-striped pagination-centered">
          <tr>
            <th class="heading">Place</th>
            <th class="heading">Team Name</th>
            <th class="heading">Wins</th>
            <th class="heading">Losses</th>
            <th class="heading">Ties</th>
          </tr>
          <% @standings.each do |team| %>
            <tr>
              <th><%= (@standings.index(team) + 1) %></th>
              <th><%= link_to team.name, team %></th>
              <th><%= team.team_stats("All")[:wins] %></th>
              <th><%= team.team_stats("All")[:losses] %></th>
              <th><%= team.team_stats("All")[:ties] %></th>
            </tr>
          <% end %>
        </table>
      </div>

    <% if @champion %>
      <h3><%= @season.year %> BMFFL Champion: <%= @champion.name %></h3>
    <% end %>

  </div>
</div>

