<table>
  <tr>
    <th class="center large">BMFFL <%= @season.year %> Season</th>
  </tr>
</table>

<table class="responstable">
  <thead>
    <tr>
      <th>Place</th>
      <th>Team Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Points For</th>
      <th>Points Against</th>
      <th>Point Differential</th>
    </tr>
  </thead>

  <tbody>
    <% @standings.each do |team| %>
      <tr>
      <td><%= (@standings.index(team) + 1) %></td>
      <td><%= link_to team.name, team %></td>
      <td><%= team.team_stats("All")[:wins] %></td>
      <td><%= team.team_stats("All")[:losses] %></td>
      <td><%= team.team_stats("All")[:ties] %></td>
      <td><%= team.team_stats("All")[:points_for] %></td>
      <td><%= team.team_stats("All")[:points_against] %></td>
      <td><%= team.team_stats("All")[:point_diff] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @champion %>
  <table>
    <tr>
      <th class="center large"><%= @season.year %> BMFFL Champion: <%= @champion.name %></th>
    </tr>
  </table>
<% end %>
