<h2>BMFFL <%= @season.year %> Season</h2>

<% if @champion %>
  <h3><%= @season.year %> BMFFL Champion: <%= @champion.name %></h3>
<% end %>

<div id="standings-type">
  <%= form_for @game_type, { :url => season_path, :method => 'GET' } do |f| %>
    <%= f.label :game_type %>:
    <%= f.text_field :game_type %><br /><br />

    <%= f.submit "League" %>
    <%= f.submit "Division" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div id="standings-table" class="col-lg-10">

      <div id="full-league-standings-table">
      </div>

      <div id="division-standings-table">
      </div>


    </div>
  </div>
</div>

