<table>
  <tr>
    <th class="center large team-name"><%= @owner.first_name %> <%= @owner.last_name %>'s BMFFL stats: </th>
  </tr>
</table>

<table class="responstable">
  <thead>
    <tr>
      <th>Team Name</th>
      <th class="center">Season</th>
      <th class="center">Wins</th>
      <th class="center">Losses</th>
      <th class="center">Ties</th>
      <th class="center">Points For</th>
      <th class="center">Points Against</th>
      <th class="center">Point Differential</th>
    </tr>
  </thead>

  <tbody>
    <% @owner_teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team %></td>
        <td class="center"><%= link_to team.season.year, team.season %></td>
        <td class="center"><%= team.team_stats("All")[:wins] %></td>
        <td class="center"><%= team.team_stats("All")[:losses] %></td>
        <td class="center"><%= team.team_stats("All")[:ties] %></td>
        <td class="center"><%= team.team_stats("All")[:points_for] %></td>
        <td class="center"><%= team.team_stats("All")[:points_against] %></td>
        <td class="center"><%= team.team_stats("All")[:point_diff] %></td>
      </tr>
    <% end %>
    <tr>
      <th>Totals  (<%= @owner_teams.length %> Seasons)</th>
      <th></th>
      <th class="center"><%= @stats[:wins] %></th>
      <th class="center"><%= @stats[:losses] %></th>
      <th class="center"><%= @stats[:ties] %></th>
      <th class="center"><%= @stats[:points_for] %></th>
      <th class="center"><%= @stats[:points_against] %></th>
      <th class="center"><%= @stats[:point_diff] %></th>
    </tr>
  </tbody>
</table>
