<h3>Welcome to the Official Website of the BMFFL</h3>
<h4>Enter your username and password below to sign in!</h4>

<%= form_tag(controller: "session", action: "create", method: "post") %>
  <div>
    <%= label_tag("Email:") %>
    <%= text_field_tag 'user[email]' %>
  </div>

  <div>
    <%= label_tag("Password:") %>
    <%= password_field(:user, :password) %>
  </div>

  <div>
    <%= submit_tag("Login") %>
  </div>
