<div class="col-lg-4"></div>

<div class="col-lg-4">
  <h3>Create your account!</h3>

  <% if @user.errors %>
    <ul class="errors-list">
      <% @user.errors.each do |attr, msg| %>
        <li class="red"><%= "#{attr} #{msg}" if @user.errors[attr].first == msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= bootstrap_form_for(@user) do |f| %>
    <%= f.text_field :username, placeholder: "must be 6 characters" %>
    <%= f.email_field :email, placeholder: "must be valid email" %>
    <%= f.password_field :password, placeholder: "must be between 6-20 characters" %>
    <%= f.submit "Create Account!" %>
  <% end %>
</div>

<div class="col-lg-4"></div>
