<table class="alltimestats-table">
  <tr>
    <th class="center large">BMFFL All-Time Stats</th>
  </tr>
</table>

<table class="responstable alltimestats-table">
  <thead>
    <tr>
      <th class="th-owner center"><%= Owner %></th>
      <th class="th-games-played center"><%= Games %></th>
      <th class="center"><%= 'Wins' %></th>
      <th class="center"><%= 'Losses' %></th>
      <th class="center"><%= 'Ties' %></th>
      <th class="th-wp center"><%= 'Winning %' %></th>
      <th class="center"><%= 'Points For' %></th>
      <th class="th-pa center"><%= 'Points Against' %></th>
      <th class="center"><%= 'Point Diff' %></th>
      <th class="center"><%= 'PPG' %></th>
      <th class="center"><%= 'PAPG' %></th>
      <th class="th-ppg-papg center"><%= 'PPG-PAPG' %></th>
    </tr>
  </thead>

  <tbody id="alltimestats">
    <%= render :partial => "alltimestats", :locals => { :table_array => @league_stats }, :layout => false %>
  </tbody>
</table>
