<table>
  <tr>
    <th class="center large">BMFFL All-Time Stats</th>
  </tr>
</table>

<table class="responstable">
  <thead>
    <tr>
      <th><%= link_to 'Owner', application_alltimestats_path, { :class => 'white alltime-sort', :id => "owner", :remote => true } %></th>
      <th><%= link_to 'Games Played', application_alltimestats_path, { :class => 'white alltime-sort', :id => "games_played", :remote => true } %></th>
      <th><%= link_to 'Wins', application_alltimestats_path, { :class => 'white alltime-sort', :id => "wins", :remote => true } %></th>
      <th><%= link_to 'Losses', application_alltimestats_path, { :class => 'white alltime-sort', :id => "losses", :remote => true } %></th>
      <th><%= link_to 'Ties', application_alltimestats_path, { :class => 'white alltime-sort', :id => "ties", :remote => true } %></th>
      <th><%= link_to 'Winning %', application_alltimestats_path, { :class => 'white alltime-sort', :id => "wp", :remote => true } %></th>
      <th><%= link_to 'Points For', application_alltimestats_path, { :class => 'white alltime-sort', :id => "points_for", :remote => true } %></th>
      <th><%= link_to 'Points Against', application_alltimestats_path, { :class => 'white alltime-sort', :id => "points_against", :remote => true } %></th>
      <th><%= link_to 'Point Differential', application_alltimestats_path, { :class => 'white alltime-sort', :id => "point_diff", :remote => true } %></th>
      <th><%= link_to 'PPG', application_alltimestats_path, { :class => 'white alltime-sort', :id => "ppg", :remote => true } %></th>
      <th><%= link_to 'PAPG', application_alltimestats_path, { :class => 'white alltime-sort', :id => "papg", :remote => true } %></th>
      <th><%= link_to 'PPG-PAPG', application_alltimestats_path, { :class => 'white alltime-sort', :id => "ppg_diff", :remote => true } %></th>
    </tr>
  </thead>

  <tbody id="alltimestats">
    <%= render :partial => "sorted", :locals => { :table_array => @league_stats }, :layout => false %>
  </tbody>
</table>
