<div class="row">
  <h3 class="center">Choose two owners and see Head-to-Head results</h3>
</div>

<div class="col-lg-2"></div>

<div class="col-lg-8 center">
  <div class="teams-form">
    <%= bootstrap_form_tag url: "/application/headtoheadresult", :html => {:class => "form-inline"} do |f| %>
      <span class="padding-r-20">
      <%= f.collection_select :owner_1, Owner.all, :id, :full_name, {:include_blank => true}, {:style => "width:180px", :required => true} %></span>
      <span class="padding-r-20">
      <%= f.collection_select :owner_2, Owner.all, :id, :full_name, {:include_blank => true}, {:style => "width:180px", :required => true} %></span><br /><br />
      <span class="padding-r-20">
      <%= f.select( :game_type, Game::TYPE ) %></span>
      <span class="padding-r-20 pad-l-40"><%= f.submit "View Head-to-Head Results", class: "btn btn-primary" %></span>
    <% end %>
  </div>
  <br />
</div>

<div class="col-lg-2"></div>

<div id="h2h-results">
  <% if @h2h_games %>
    <table>
      <thead>
        <tr>
          <th>Season</th>
          <th>Week</th>
          <th>Winning Team</th>
          <th>Losing Team</th>
          <th>Final Score</th>
          <th>Game Type</th>
        </tr>
      </thead>

      <tbody>
        <% @h2h_games.each do |game| %>
        <% scores = [game.home_score, game.away_score].sort.reverse %>
          <tr>
            <td><%= game.season.year %></td>
            <td><%= game.week %></td>
            <% if game.winner %>
              <td><%= link_to game.winner.name, game.winner %><span class="small"> (<%= game.winner.owner.full_name %>)</span></td>
              <td><%= link_to game.loser.name, game.loser %><span class="small"> (<%= game.loser.owner.full_name %>)</span></td>
            <% else %>
              <td><%= link_to game.away_team.name, game.away_team %><span class="small"> (<%= game.away_team.owner.full_name %>) - TIE</span></td>
              <td><%= link_to game.home_team.name, game.home_team %><span class="small"> (<%= game.home_team.owner.full_name %>) - TIE</span></td>
            <% end %>
            <td class="pad-r-10"><%= scores[0] %> - <%= scores[1] %></td>
            <td><%= game.game_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="series-result">
  <% if @h2h_games %>
    <% if @tally[:owner1] == @tally[:owner2] %>
      <h3>Series is tied <%= @tally[:owner1] %>-<%= @tally[:owner2] %>-<%= @tally[:ties] %></h3>
    <% else %>
      <% if @tally[:owner1] > @tally[:owner2] %>
        <h3><%= @owner1.full_name %> leads the series <%= @tally[:owner1] %>-<%= @tally[:owner2] %>-<%= @tally[:ties] %></h3>
      <% else %>
        <h3><%= @owner2.full_name %> leads the series <%= @tally[:owner2] %>-<%= @tally[:owner1] %>-<%= @tally[:ties] %></h3>
      <% end %>
    <% end %>
  <% end %>
</div>
<br />