<div class="row">
  <h3 class="center">Choose two owners and see Head-to-Head results</h3>
</div>

<div class="col-lg-3"></div>

<div class="col-lg-6">

  <div class="teams-form">
    <%= bootstrap_form_tag url: '/application/headtoheadresult' do |f| %>
      <%= f.collection_select :owner_1, Owner.all, :id, :full_name, { :include_blank => true } %>
      <%= f.collection_select :owner_2, Owner.all, :id, :full_name, { :include_blank => true } %>
      <%= f.submit "View Head-to-Head Results" %>
    <% end %>
  </div>

  <div class="games-table">
  </div>

</div>

<div class="col-lg-3"></div>

<% if @games %>
  <table class="table table-striped pagination-centered"> <!-- striped, bordered, hover, condensed -->
    <tr>
      <th class="heading">Week</th>
      <th class="heading">Away Team</th>
      <th class="heading">Home Team</th>
      <th class="heading">Game Type</th>
      <th class="heading">Result</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <th><%= (@games.index(game) + 1) %></th>
        <th><%= link_to game.away_team.name, game.away_team %></th>
        <th><%= link_to game.home_team.name, game.home_team %></th>
        <th><%= game.game_type %></th>
        <th>

          <% if game.winner == @team %>
            <% if game.home_team == @team %>
              <div><%= 'W,' %> <%= game.home_score %> - <%= game.away_score %></div>
            <% elsif game.away_team == @team %>
              <div><%= 'W,' %> <%= game.away_score %> - <%= game.home_score %></div>
            <% end %>

          <% elsif game.loser == @team %>
            <% if game.home_team == @team %>
              <div class="loss"><%= 'L,' %> <%= game.home_score %> - <%= game.away_score %></div>
            <% elsif game.away_team == @team %>
              <div class="loss"><%= 'L,' %> <%= game.away_score %> - <%= game.home_score %></div>
            <% end %>
          <% else %>
            <div class="tie"><%= 'T,' %> <%= game.home_score %> - <%= game.away_score %></div>
          <% end %>

        </th>
      </tr>
    <% end %>

  </table>
<% end %>