<div class="row">
  <h3 class="center">Choose two owners and see Head-to-Head results</h3>
</div>

<div class="col-lg-2"></div>

<div class="col-lg-8 center">
  <div class="teams-form">
    <%= bootstrap_form_tag url: "/application/headtoheadresult", :html => {:class => "form-inline"} do |f| %>
      <%= f.collection_select :owner_1, Owner.all, :id, :full_name, {:include_blank=> true}, {:style => "width:150px" } %>
      <%= f.collection_select :owner_2, Owner.all, :id, :full_name, { :include_blank => true }, {:style => "width:150px" } %>
      <%= f.submit "View Head-to-Head Results", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="col-lg-2"></div>

<div class="h2h-results">
  <% if @games %>
    <table>
      <thead>
        <tr>
          <th>Season</th>
          <th>Week</th>
          <th>Winning Team</th>
          <th>Losing Team</th>
          <th>Final Score</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each do |game| %>
        <% scores = [game.home_score, game.away_score].sort.reverse %>
          <tr>
            <td><%= game.season.year %></td>
            <td><%= game.week %></td>
            <td><%= link_to game.winner.name, game.winner %></td>
            <td><%= link_to game.loser.name, game.loser %></td>
            <td><%= scores[0] %> - <%= scores[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
