<div class="row">
  <h3 class="center">Choose two owners and see Head-to-Head results</h3>
</div>

<div class="col-lg-2"></div>

<div class="col-lg-8">
  <div class="teams-form">
    <%= bootstrap_form_tag url: "/application/headtoheadresult", :html => {:class => "form-inline"} do |f| %>
      <%= f.collection_select :owner_1, Owner.all, :id, :full_name, { :include_blank => true } %>
      <%= f.collection_select :owner_2, Owner.all, :id, :full_name, { :include_blank => true } %>
      <%= f.submit "View Head-to-Head Results", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="col-lg-2"></div>



<div class="h2h-results">
  <% if @games %>
    <table class="table table-striped pagination-centered"> <!-- striped, bordered, hover, condensed -->
      <tr>
        <th class="heading">Season</th>
        <th class="heading">Week</th>
        <th class="heading">Winner</th>
        <th class="heading">Loser</th>
        <th class="heading">Game Type</th>
        <th class="heading">Final Score</th>
      </tr>
      <% @games.each do |game| %>
        <% @scores = [game.home_score, game.away_score].sort %>

        <tr>
          <th><%= (game.season.year) %></th>
          <th><%= (game.week) %></th>
          <th><%= link_to game.winner.name, game.winner %></th>
          <th><%= link_to game.loser.name, game.loser %></th>
          <th><%= game.game_type %></th>
          <th><%= @scores[1] %> - <%= @scores[0] %></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>