<!DOCTYPE html>
<html>
    <head>
        <title>BMFFL</title>
        <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <header class="col-lg-12 black-bg">
                        <div class="row">

                            <div class="col-lg-2 image"><%= link_to (image_tag("logo.png")), root_path %>
                            </div>

                                <ul class="col-lg-10 list-group" id="scoreboard">
                                    <% Game.all.reverse.first(5).each do |game| %>
                                        <li class="list-group-item scoreboard-top">
                                            <p class="game-date">9/8 - 9/12</p>
                                            <div class="team-name col-lg-10">
                                                <p><%= game.away_team.abbr %></p>
                                                <%= game.home_team.abbr %>
                                            </div>
                                            <div class="team-score col-lg-10">
                                                <p><%= game.away_score %></p>
                                                <%= game.home_score %>
                                            </div>
                                        </li>
                                    <% end %>
                                </ul>
                        </div>
                    </header>

                    <nav class="navbar navbar-default col-lg-12" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seasons <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="tab"><%= link_to "Owners", owners_path %></li>
                                </ul>
                            <li class="tab"><%= link_to "Owners", owners_path %></li>
                            <li class="tab"><%= link_to "Teams", teams_path %></li>
                            <li class="tab"><%= link_to "Head-To-Head", root_path %></li>
                            <li class="tab"><%= link_to "Bowery Times", root_path %></li>
                            <li class="user-tab"><%= link_to "Login", records_path %></li>
                            <li class="user-tab"><%= link_to "Register", records_path %></li>
                        </ul>
                    </nav>

                    <div class="container black-bg">
                        <%= yield %>
                    </div>

                </div>
            </div>
        </div>


        <!-- JavaScript files should be linked at the bottom of the page (and jquery MUST be about the javascript bootstrap)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- // <script src="/js/jquery.min.js/1.9.1"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
