<!DOCTYPE html>
<html>
    <head>
        <title>BMFFL</title>
        <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">

        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<!--
link_to(body, url, html_options = {})
  # url is a String; you can use URL helpers like
  # posts_path -->

    <body>
        <div class="row">
            <div class="col-lg-12 container">
                <div class="row">

                    <header class="col-lg-12 black-bg">
                        <%= link_to (image_tag("logo.png")), root_path %>
                        <ul id="scoreboard">
                            <% Game.all.reverse.first(5).each do |game| %>
                                <li><%= game.away_team.name %> <%= game.home_team.name %></li>
                            <% end %>
                        </ul>
                    </header>

                    <nav class="navbar navbar-top black-bg col-lg-12 green">
                        <div class="row">
                            <ul class="nav navbar-nav">
                                <li><%= link_to "Home", root_path %></a></li>
                                <li><%= link_to "Seasons", seasons_path %></li>
                                <li><%= link_to "Owners", owners_path %></li>
                                <li><%= link_to "Teams", teams_path %></li>
                                <li><%= link_to "Stats", root_path %></li>
                                <li><%= link_to "Bowery Times", root_path %></li>
                                <li><%= link_to "All-Time Records", records_path %></li>
                            </ul>
                        </div>
                    </nav>

                    <div class="container black-bg">
                        <%= yield %>
                    </div>

                </div>
            </div>
        </div>


        <!-- JavaScript files should be linked at the bottom of the page (and jquery MUST be about the javascript bootstrap)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- // <script src="/js/jquery.min.js/1.9.1"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
