<!DOCTYPE html>
<html>
    <head>
        <title>BMFFL</title>
        <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <header class="col-lg-12 black-bg">
                        <div class="row">
                            <div class="col-lg-2 image"><%= link_to (image_tag("logo.png")), root_path %></div>
                                <ul class="col-lg-10 list-group" id="scoreboard">
                                    <% Game.all.reverse.first(5).each do |game| %>
                                        <li class="list-group-item col-lg-2 h125">
                                            <div class="team-name"><%= game.away_team.name %> - 0</div>
                                            <div class="team-name"><%= game.home_team.name %> - 0</div>
                                        </li>
                                    <% end %>
                                </ul>
                        </div>
                    </header>

                    <nav class="navbar navbar-full black-bg col-lg-12">
                        <div class="row">
                            <ul class="nav navbar-nav">
                                <li class="tab"><%= link_to "Seasons", seasons_path %></li>
                                <li class="tab"><%= link_to "Owners", owners_path %></li>
                                <li class="tab"><%= link_to "Teams", teams_path %></li>
                                <li class="tab"><%= link_to "Stats", root_path %></li>
                                <li class="tab"><%= link_to "Bowery Times", root_path %></li>
                                <li class="tab"><%= link_to "All-Time Records", records_path %></li>
                                <li class="user-tab"><%= link_to "Login", records_path %></li>
                                <li class="user-tab"><%= link_to "Register", records_path %></li>
                            </ul>
                        </div>
                    </nav>

                    <div class="container black-bg">
                        <%= yield %>
                    </div>

                </div>
            </div>
        </div>


        <!-- JavaScript files should be linked at the bottom of the page (and jquery MUST be about the javascript bootstrap)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- // <script src="/js/jquery.min.js/1.9.1"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
