<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>BMFFL</title>
        <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>
        <%= favicon_link_tag 'football.jpeg' %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <div id="wrapper">
            <div class="row">
                <div id="header" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-bg">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 image"><%= link_to (image_tag("logo.png")), root_path %></div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 black-bg" id="scoreboard">
                            <ul class="list-group">
                                <% Game.all.last(5).each do |game| %>
                                    <li class="list-group-item scoreboard-top">
                                        <p class="game-date">9/8 - 9/12</p>
                                        <div class="team-name col-lg-10">
                                            <p><%= game.away_team.abbr %></p>
                                            <p><%= game.home_team.abbr %></p>
                                        </div>
                                        <div class="team-score col-lg-10">
                                            <p><%= game.away_score %></p>
                                            <p><%= game.home_score %></p>
                                        </div>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content">
                <div class="row">
                    <nav class="navbar navbar-default col-lg-12 col-md-12 col-sm-12 col-xs-12" role="navigation">
                      <div class="container green">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-brand-centered">

                          <ul class="nav navbar-nav">
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                </div>

                <div class="container black-bg">
                    <%= yield %>
                </div>
            </div>

            <div id="footer">
                <p class="footer-text">© 2016 BMFFL Advanced Media, LP. All rights reserved.</p>
                <p class="footer-text">817 Bowery St.</p>
                <p class="footer-text">Iowa City, Iowa, 52240</p>
            </div>
        </div>

    </body>

    <!-- JavaScript files should be linked at the bottom of the page (and jquery MUST be about the javascript bootstrap)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- // <script src="/js/jquery.min.js/1.9.1"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</html>
